@model YaAPIRoutes.Models.Courier

@{
    ViewData["Title"] = "Маршрутный лист ID № "+Model.Venicle_Id;
}
<h2>Маршрутный лист курьера @Model.Venicle_Id</h2>


<div>

    @{
        var listpoint = Model.RoutejsonToList();
        int count = 0;

        foreach (var item in listpoint)
        {
            count++;

            <div>
                @count.  @item
            </div>                   
            }
        }
</div>

<div>
        <div>
                
        </div>
    <a asp-action="Index">Back to List</a>
</div>
