@{
    ViewData["Title"] = "";
}

<h1>Яндекс маршрутизация API </h1>

<body>
 
 <form class="form-inline" action ="@Url.Action("Index","Couriers")"method="post">
                    
 <button class="btn btn-danger" type="submit"> Получить маршрутизацию доставок из Яндекс API </button>
 
                 
 </form>

 </body>

